* {
    box-sizing: border-box;
}

:root {
    color-scheme: dark;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    height: max(100%, 100vh);
    background-color: #101010;
    user-select: none;
    -webkit-user-select: none;
}

@font-face {
    font-family: Nusar;
    src: url('fonts/NUSAR.ttf');
}

@font-face {
    font-family: Plutur;
    src: url('fonts/Plutur.ttf');
}

.Background-Image-Box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    border: 2px solid transparent;
}

.Background-Image-Box .Background-Image-Wrapper {
    width: 100%;
    height: 100%;
}

.Background-Image-Box .Background-Image-Wrapper img {
    height: max(100vmax, 100%);
    filter: saturate(1.1) contrast(2) brightness(.75);
}

.Action-Btn {
    border-radius: 8px;
    cursor: pointer;
    z-index: 10;
    background-color: whitesmoke;
    color: black;
    top: 0;
    position: fixed;
    padding: 6px 12px;
    margin: 8px;
}

.Action-Btn:active {
    box-shadow: 0 0 12px white;
}

.Action-Btn i {
    font-size: 1.5em;
}

.Menu-Container-Btn {
    left: 0;
}

.Menu-Container-Btn:hover {
    background-color: #87ceeb;
}

.Close-Container-Btn {
    right: 0;
}

.Close-Container-Btn:hover {
    background-color: #c4302b;
}

.In-Active-Container {
    display: none;
}

.Active-Container {
    display: block;
}

.Menu-Container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    color: black;
    z-index: 5;
    background: #000000bf;
}


.Menu-Container .Menu-Box {
    position: relative;
    width: min(500px, 100vw);
    background: whitesmoke;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 24px;
}

.Menu-Container .Menu-Box .Page-Navigation {
    flex: 10;
    overflow: scroll;
    display: flex;
    flex-flow: column nowrap;
}

.Menu-Container .Menu-Box .Page-Navigation h2 {
    text-align: center;
    flex: 0;
}

.Menu-Container .Menu-Box .Page-Navigation .Page-Links {
    flex: 1;
    padding: 0 24px;
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
    overflow: scroll;
}

.Menu-Container .Menu-Box .Page-Navigation .Page-Links li {
    position: relative;
}

.Menu-Container .Menu-Box .Page-Navigation .Page-Links li div {
    width: 100%;
    height: 100%;
    display: flex;
}

.Menu-Container .Menu-Box .Page-Navigation .Page-Links li div a {
    text-decoration: none;
    color: inherit;
    padding: 12px;
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    border-radius: 8px;
}

.Menu-Container .Menu-Box .Contact-Me {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    justify-content: center;
    align-items: center;
}

.Menu-Container .Menu-Box .Contact-Me a {
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid grey;
    text-decoration: none;
    color: inherit;
}

.Action-Btn,
.Menu-Container .Menu-Box .Page-Navigation .Page-Links li div a,
.Menu-Container .Menu-Box .Contact-Me a {
    transition: box-shadow 0.25s ease-in-out 100ms,
        background-color 0.25s ease-in-out 100ms;
}

.Menu-Container .Menu-Box .Page-Navigation .Page-Links li div a:hover,
.Menu-Container .Menu-Box .Contact-Me a:hover {
    box-shadow: 1px 4px 2px grey;
}

.Name-Box {
    position: relative;
    border: 1px solid transparent;
    overflow: hidden;
    font-family: Plutur;
}

.Name-Box h1 {
    text-align: center;
    font-size: 5rem;
}

.Name-Box .Background-Image-Box .Background-Image-Wrapper img {
    height: 100%;
    width: unset;
    filter: saturate(1.2) contrast(3) brightness(.75);
}

.Caption-Box {
    border: 1px solid transparent;
}

.Caption-Box h3 {
    text-align: center;
}

.Intro-Box {
    position: relative;
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

.Intro-Box p {
    flex: 1 1 100px;
    display: flex;
    align-items: center;
    width: min(800px, 100%);
}


.Intro-Box .Background-Image-Box .Background-Image-Wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
}

.Intro-Box .Background-Image-Box .Background-Image-Wrapper img {
    filter: saturate(1.1) contrast(2) brightness(.5);
}


.Story-Section {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
}

.Story-Section .Box-Title {
    padding: 0 56px;
    position: relative;
    border: 1px solid transparent;
}

.Story-Section .Box-Title::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-bottom: 1px solid white;
}

.Story-Section .Content-Box {
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.Story-Section .Content-Box p {
    width: min(800px, 100%);
    border: 1px solid transparent;
}

.Story-Section .Content-Box * {
    z-index: 2;
}

.Story-Section .Content-Box .Terms {
    width: min(700px, 100%);
    display: inline-block;
    border: 1px solid transparent;
}

.Story-Section .Content-Box .Terms .Terms-Title {
    border: 1px solid transparent;
    width: 100%;
    text-align: center;
}

.Story-Section .Content-Box .Terms .Terms-List {
    list-style: decimal;
    padding: 0 24px;
}

.Early-Life-Box {
    background: fixed url('images/shivaji-on-horse-2.jpg') center center;
    background-size: cover;
}

.Bijapur-Sultanate::before,
.Afzal-Khan::before,
.Panhala-Sieze::before,
.Battle-Pavan-Khind::before,
.Mughal-Conflicts::before,
.Chakan-Battle::before,
.Surat-Battle::before,
.Arrest-Agra::before,
.Reconquest::before,
.Commemorations::before,
.Purandar-Battle::before,
.Purandar-Trearty::before,
.Expanding-South::before,
.Coronation::before,
.After-Shivaji::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000099;
    z-index: 0;
}

.Sinhagad-Battle::before,
.Battle-Umrani-Nesari::before,
.Death-Succession::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #00000066;
    z-index: 0;
}

.Bijapur-Sultanate {
    position: relative;
    background: fixed url('images/bhijapur\ conflict.jpg') center top;
    background-size: cover;
}

.Afzal-Khan {
    position: relative;
    background: fixed url('images/Shivaji\ maharaj\ and\ Afzal.avif') center center;
    background-size: cover;
}

.Panhala-Sieze {
    position: relative;
    background: scroll url('images/panhala\ sieze.avif') center center;
    background-size: cover;
}

.Battle-Pavan-Khind {
    position: relative;
    background: fixed url('images/pavan\ khind\ battle.png') center top;
    background-size: cover;
}

.Mughal-Conflicts {
    position: relative;
    background: scroll url('images/shivaji\ with\ mughals.webp') center center;
    background-size: cover;
}

.Chakan-Battle {
    position: relative;
    background: fixed url('images/battle-chakan.jpg') center center;
    background-size: cover;
}

.Surat-Battle {
    position: relative;
    background: fixed url('images/battle-surat.jpg') center center;
    background-size: cover;
}

.Sinhagad-Battle {
    position: relative;
    background: fixed url('images/Battle-Sinhagad.jpg') center top;
    background-size: cover;
}

.Purandar-Battle {
    position: relative;
    background: fixed url('images/battle-purandar.jpg') center center;
    background-size: cover;
}

.Purandar-Trearty {
    position: relative;
    background: scroll url('images/purandar-treaty.jpg') center center;
    background-size: cover;
}

.Arrest-Agra {
    position: relative;
    background: fixed url('images/agra-fort-escape.webp') center center;
    background-size: cover;
}

.Reconquest {
    position: relative;
    background: scroll url('images/reconquest.jpg') center top;
    background-size: cover;
}

.Battle-Umrani-Nesari {
    position: relative;
    background: fixed url('images/umrani-nesari.jpg') left top;
    background-size: cover;
}

.Coronation {
    position: relative;
    background: fixed url('images/coronation.jpg') center center;
    background-size: cover;
}

.Commemorations {
    position: relative;
    background: scroll url('images/commermorations.jpg') center center;
    background-size: cover;
}

.Expanding-South {
    position: relative;
    background: fixed url('images/towards-south.jpg') center top;
    background-size: cover;
}

.Death-Succession {
    position: relative;
    background: fixed url('images/death.jpg') center top;
    background-size: cover;
}

.After-Shivaji {
    position: relative;
    background: fixed url('images/shivputra-sambhaji-raje.jpg') center top;
    background-size: cover;
}